---
layout: layout.njk
---

{% set current = 'home' %}
{% set layout = 'home' %}

	<section class="l-hero">
		{% include 'Hero.njk' %}
	</section>

	<main class="g-main" x-data="translationData()" x-init="getTranslation()">

		{% include 'Header.njk' %}

		<article class="l-article" id="about">
			<header class="m-header">
				<h2 class="title" x-text="translation?.about?.title[lang.current]"></h2>
			</header>

			<template x-if="lang.current === 'en'">
			<section class="l-section">
				<p><strong>Nicolas</strong> (NicoNoClaste)</p>
				<p>born in <strong>Paris</strong> living in <strong>Tokyo</strong></p>
				<p>10+ years <strong>Web Developer</strong></p>
				<p>
					HTML&nbsp;<strong>CSS</strong>&nbsp;SCSS <strong>JavaScript</strong>&nbsp;TypeScript<br>
					<strong>Svelte</strong>&nbsp;SvelteKit <strong>Vue.js</strong>&nbsp;Nuxt <br><strong>Astro</strong>&nbsp;SolidJS <strong>11ty</strong>&nbsp;Alpine.js<br>
					<strong>PHP</strong> SQL&nbsp;<strong>WordPress</strong> ...
				</p>
				{# <p>This site was made with : <br><strong>11ty</strong> &amp; <strong>Alpine.js</strong></p> #}
			</section>
			</template>

			<template x-if="lang.current === 'ja'">
			<section class="l-section">
				<p><strong>二コラ</strong> (ニコのクラスト)</p>
				<p><strong>パリ</strong>生まれ <strong>東京</strong>在住</p>
				<p>10年+ <strong>ウェブデベロッパー</strong></p>
				<p>
					HTML&nbsp;<strong>CSS</strong>&nbsp;SCSS <strong>JavaScript</strong>&nbsp;TypeScript<br>
					<strong>Svelte</strong>&nbsp;SvelteKit <strong>Vue.js</strong>&nbsp;Nuxt <br><strong>Astro</strong>&nbsp;SolidJS <strong>11ty</strong>&nbsp;Alpine.js<br>
					<strong>PHP</strong> SQL&nbsp;<strong>WordPress</strong> ...
				</p>
				{# <p>This site was made with : <br><strong>11ty</strong> &amp; <strong>Alpine.js</strong></p> #}
			</section>
			</template>

			<footer class="m-footer">
				<p><a href="/about"><strong x-text="translation?.about?.more[lang.current]"></strong></a></p>
			</footer>
		</article>

{% if works.length %}
		<article class="l-article" id="works">
			<header class="m-header">
				<h2 class="title" x-text="translation?.works?.title[lang.current]"></h2>
			</header>
			<section class="l-section">
				<div class="m-bloc" id="top-works">
					<ul class="m-works-list" x-data="{ topWorks:[], maxWorks:{{ settings.maxWorks }} }" 
					x-init="fetch('http://niconoclaste.jp/lib/works/')
					.then(response => response.json()).then(data => {
					let filteredWorks = data.filter((work) => !work.hidden);
					filteredWorks = filteredWorks.filter((work) => work.top).sort((a, b) => new Date(a.date).getTime() > new Date(b.date).getTime() ? -1 : new Date(a.date).getTime() < new Date(b.date).getTime() ? 1 : 0).slice(0, maxWorks);topWorks = filteredWorks;})">
						<template x-for="work in topWorks">
						<li>
							<a :href="work.link" target="_blank" rel="noopener">
								<template x-if="work.thumb.length">
								<div class="m-works-list_thumb">
									<img :src="work.thumb" :alt="work.title[lang.current]" class="img" loading="lazy">
								</div>
								</template>
								<div class="m-works-list_body">
									<h2 class="title" x-text="work.title[lang.current]"></h2>
									<p class="m-works-list_desc">
										<small x-text="work.client[lang.current] != work.title[lang.current] ? work.client[lang.current]+' '+work.date : work.date"></small>
									</p>
								</div>
								<template x-if="work.techs.length">
								<div class="m-works-list_tags">
									<template x-for="tech in work.techs">
										<span class="m-logo-icon" :style="'background-image:var(--logo_'+tech+')'" :title="tech" x-text="tech"></span>
									</template>
								</div>
								</template>
							</a>
						</li>
						</template>
					</ul>
				</div>
			</section>

			{% if works.length > settings.maxWorks %}
			<footer class="m-footer">
				<p><a href="/works"><strong x-text="translation?.works?.more[lang.current]"></strong></a></p>
			</footer>
			{% endif %}
		</article>
{% endif %}


		<article class="l-article" id="codes">
			<header class="m-header">
				<h2 class="title" x-text="translation?.codes?.title[lang.current]"></h2>
			</header>

			<section class="l-section">
				{% import 'CodeSnippet.njk' as CodeSnippet %}

				{{ CodeSnippet.params('NWgvaOa', 'CSS only responsive slider', 'CSSのみ レスポンシブ カルーセル') }}

				{{ CodeSnippet.params('ExbKxPx', 'Responsive svg progress circle', 'レスポンシブSVG進行サークル') }}

				{{ CodeSnippet.params('poadjOL', 'STAR WARS opening', 'スターウォーズ オープニング') }}
			</section>
			<footer class="m-footer">
				<p><a href="https://codepen.io/niconoclaste" target="_blank" rel="noopener"><strong x-text="translation?.codes?.more[lang.current]"></strong></a></p>
			</footer>
		</article>


		<article class="l-article" id="articles">
			<header class="m-header">
				<h2 class="title" x-text="translation?.articles?.title[lang.current]"></h2>
			</header>

			<section class="l-section">
				<div class="m-bloc">

				{% import 'PostsList.njk' as PostsList %}

				{{ PostsList.params(collections.articles, true) }}

				</div>
			</section>

			<footer class="m-footer">
				<p><a href="/articles"><strong x-text="translation?.articles?.more[lang.current]"></strong></a></p>
			</footer>
		</article>
	</main>

	{% include 'Footer.njk' %}
