<footer class="g-footer">
  <nav class="g-footer_nav">
    <!-- <Nav /> -->
  </nav>
  <p class="m-footer_copy" x-data="{ copyrights: '&copy; '+ new Date().getFullYear() +' NicoNoClaste' }" x-text="copyrights"></p>
</footer>