<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title %}{{ title }} | {{settings.baseTitle}}{% else %}{{settings.baseTitle}}{% endif %}</title>
	{% if description %}
		<meta name="description" content="{{description}}"/>
	{% endif %}
	<link rel="icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/favicon.png">
	<link rel="stylesheet" href="/assets/styles.css">
	{% block head %}{% endblock %}
</head>
<body x-data="{$store, lang: $store.language}">


<main class="g-main" x-data="translationData()" x-init="getTranslation()">
	{% set current = 'articles' %}
	{% set layout = 'single' %}

  {% include 'Header.njk' %}

  <article class="l-article" id="{{current}}">
    <header class="m-header">
      <h1 class="title" x-data="{title: {'en':'{{title}}', 'ja': '{{title_ja}}'}}" x-text="title[lang.current]"></h1>
    </header>

    <section class="l-section">
      <div class="m-bloc">

        <h3 class="title" x-data="{exerpt: {'en':'{{excerpt}}', 'ja': '{{excerpt_ja}}'}}" x-html="exerpt[lang.current]"></h3>

				<p class="m-article-date" x-data="{date: {
					'en': new Intl.DateTimeFormat('ja-JP', {dateStyle: 'short'}).format(new Date('{{date}}')), 
					'ja': new Intl.DateTimeFormat('ja-JP', {dateStyle: 'long'}).format(new Date('{{date}}'))
				}}" x-text="date[lang.current]"></p>

				{% block content %}
					{{ content | safe }}
				{% endblock %}
      </div>
    </section>

    <footer class="m-footer">
			<p><a href="/articles"><strong x-text="translation?.articles?.more[lang.current]"></strong></a></p>
    </footer>
  </article>
</main>

{% include 'Footer.njk' %}

	
<script defer src="/assets/js/alpine.js"></script>
<script>
	function translationData() {
		return {
			translation: false,
			init () {
				this.getTranslation()
			},
    	getTranslation () {
      	fetch('/data/translation.json')
        .then(response => response.json())
        .then(data => { 
					this.translation = data;
				})
    	},
		}
	};
	
	document.addEventListener('alpine:init', () => {
		Alpine.store('language', {
			init() {
				let lang = window.localStorage.getItem('lang');
				if(lang === null){
					lang = window.navigator.userLanguage || window.navigator.language;
					if(lang !== 'ja'){
						lang = 'en';
					}
				}
				if(lang === 'ja'){
					this.current = 'ja';
				}else{
					this.current = 'en';
				}
				window.localStorage.setItem('lang', lang);
				document.documentElement.setAttribute('lang', lang);
			},
			current: 'en',
			get() {
				return this.current;
			},
			set(lang) {
				if(lang === 'ja'){
					this.current = 'ja';
				}else{
					this.current = 'en';
				}
				window.localStorage.setItem('lang', lang);
				document.documentElement.setAttribute('lang', lang);
			}
		})
	})
</script>
</body>
</html>